<ion-view view-title="{{story.title}} - Page {{story.illustrations.indexOf(illustration)}}">
    <ion-content class="padding" style="text-align: center">
        <div class="illustration" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()"><img src="{{illustration}}" />
            </span>
            <div class="illustration-text">Elsa thought their engagement was a bad idea. She told Anna, "You can't marry a man you just met."</div>
        </div>
        <a href="#" class="btn red" style="width: 50%; text-align:center"><i class="fa fa-volume-down"></i>Record</a>
    </ion-content>
</ion-view>
