<ion-view view-title="Stories">
    <ion-content>
        <ion-list>
            <h3>Test</h3>
            <ion-item ng-repeat="story in stories" type="item-text-wrap" href="#">
                <img ng-src="{{story.image}}">
                <h2>{{story.title}}</h2>
                <p>{{story.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!--         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
