<ion-view view-title="Account">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/profile.jpg">
        <h2>Na Shao</h2>
        <p>October 5, 1979 (35 years old)</p>
      </div>

      <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      Home address
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-ios7-telephone"></i>
      Phone number
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-card"></i>
      Card information
    </a>

  </div>
    <div class="card">
      <div class="item item-divider">
        Saved Stories
        </div>

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <div class="list">

             <a class="item item-thumbnail-left" href="#">
              <img src="img/1.jpg">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             </a>

             <a class="item item-thumbnail-left" href="#">
               <img src="img/2.jpg">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             </a>

             <a class="item item-thumbnail-left" href="#">
               <img src="img/3.jpg">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             </a>

             <a class="item item-thumbnail-left" href="#">
               <img src="img/4.jpg">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             </a>


             <a class="item item-thumbnail-left" href="#">
               <img src="img/5.jpg">
              <h2>Lorem Ipsum</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             </a>
       </div>
     </div>
     <div class="card">
       <div class="item item-divider">
         Favorites
         </div>

         <div class="list list-inset">
           <label class="item item-input">
             <i class="icon ion-search placeholder-icon"></i>
             <input type="text" placeholder="Search">
           </label>
         </div>

         <div class="list">

              <a class="item item-thumbnail-left" href="#">
                <img src="img/6.jpg">
               <h2>Lorem Ipsum</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </a>

              <a class="item item-thumbnail-left" href="#">
                <img src="img/7.jpg">
               <h2>Lorem Ipsum</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </a>

              <a class="item item-thumbnail-left" href="#">
                <img src="img/8.jpg">
               <h2>Lorem Ipsum</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </a>

              <a class="item item-thumbnail-left" href="#">
                <img src="img/9.jpg">
               <h2>Lorem Ipsum</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </a>


              <a class="item item-thumbnail-left" href="#">
                <img src="img/10.jpg">
               <h2>Lorem Ipsum</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
