<ion-view view-title="Stories">
    <ion-content>
        <div class="container">
            <div class="row">
                <ion-list class="masonry-wrap filter-wrap">
                    <ion-item ng-repeat="story in stories" class="col one-half item web">
                        <section>
                            <a href="img/portfolio/730x380-7.jpg" class="img-wrap view" rel="photography">
                                <img src="{{story.image}}" alt="">
                                <div class="img-overlay">
                                    <div class="icon-only"><i class="fa fa-eye"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="boxed">
                                <header>
                                    <h6><a href="#">{{story.title}}</a><span class="meta-text">Photography</span></h6>
                                    <p>{{story.description}}</p>
                                </header>
                            </div>
                        </section>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
